@(message: String)

@main("Academia") {

    <div class="container">

        <br>
        <br>
        <br>

        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>Aniversáriantes de hoje</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>teste</td>
                                <td>teste fdofdsiopisdogpifdsig fdsoaifopa</td>
                            </tr>
                            <tr>
                                <td>teste teste</td>
                                <td>teste2 teste teste</td>
                            </tr>
                            <tr>
                                <td>teste tfgdgfd</td>
                                <td>kfdasjlsd fsdjofiadso</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>Alunos em atraso</h2>
                    <p>teste de alunos em atraso</p>
                </div>
            </div>
        </section>

    </div>

}
