@(form: Form[HomeController.Login])

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Academia - Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/login.css")">
</head>
<body>
    <div class="container">
        @if(flash.contains("success")) {
        <p class="alert alert-success">
            @flash.get("success")
        </p>
        }

        <div class="jumbotron text-center">
            <h4>Academia</h4>
        </div>

        @helper.form(routes.HomeController.authenticate) {
            <h3 class="form-signin-heading">Faça o seu login...</h3>

            @if(flash.contains("error")) {
                <p class="alert alert-danger">
                    @flash.get("error")
                </p>
            }

            <p>
                <input type="text" name="name" class="form-control" placeholder="Usuário" required autofocus value="@form("name").value">
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Senha" required>
            </p>
            <p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Efetuar login</button>
            </p>
        }
    </div>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
